body
{
 background-color:rgb(240, 240, 240);

}

.intero-corpo
{
 background-color: rgb(240, 240, 240);
 height: 90vh;
 width: 60vw;
 margin-left: 150px;
 margin-top: 60px;
 bottom:0;
 position: absolute;
 display: flex;
 flex-direction: row;
 
 
}

.left-body
{
 flex:1;
 
 display: flex;
 flex-direction: column;
 
 
 
}

.top-left-body
{
 
 background-color: white;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 border-bottom: solid;
 border-width: 1px;
 border-color: lightgray;
 border-top: solid 1px;
 border-color: lightgray;
 border-left: solid 1px;
 border-color: lightgray;
 border-top-left-radius: 10px;
 border-right:solid 1px;
 border-color: lightgray;
 height: 50px;
}

.testo-top-left-body
{
 color:black;
 font-size: 15px;
 padding-left:10px;
}

.button-top-left-body
{
 background-color: rgb(5, 159, 255);
 border-radius: 100px;
 padding-left: 15px;
 padding-right: 15px;
 padding-top: 6px;
 padding-bottom: 6px;
 color: white;
 font-size: 15px;
 border: none;
}

.icon-top-left-body
{
 height: 20px;
 padding-right: 10px;
}

.div-dimenticato
{
 height:50px;
 border-left: solid 1px;
 border-color: lightgray;
 border-right:solid 1px;
 color:lightgray;
 background-color: white;
}

.search-left-body
{
 flex:0.5;
 
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 margin-left:10px;
 margin-right: 10px;
 margin-top: 6px;
 background-color: lightgray;
 height: 80%;
 border-radius: 5px;
}

.search-search-left-body
{
 height: 20px;
 padding-left: 10px;
}

.input-search-left-body
{
 border: none;
 background-color: lightgray;
 padding-left: 0;
 font-size: 15px;
}

.option-search-left-body
{
 height: 20px;
 padding-right:8px;
}

.navigation-left-body
{
 flex:0.5;
 display: flex;   
 flex-direction: row;
 justify-content: start;
 align-items: center;
 background-color: white;
}

.testo-navigation-left-body
{
 font-size: 16px;
 padding-left: 10px;
}


.chat-left-body
{
 flex:6;
 
 display: flex;
 flex-direction: column;
 overflow-y: scroll;
 border-left:solid 1px;
 border-color:lightgray;
 border-right:solid 1px;
 border-color:lightgray;
 overflow-x: hidden;
 background-color: white;
}

.contatto
{
 flex:1;
 
 flex: 1;
 margin-bottom: 40px;
 position: relative;
 
 
}

img
{
 height: 60px;
 border-radius: 100%;
 display:inline-block;
 padding-left: 10px;
}

.informazioni-contatto
{
 display: flex;
 flex-direction: column;
 justify-content: start;
 border-bottom: solid;
 border-width: 1px;
 border-color: lightgrey;
 position: absolute;
 top:0;
 left: 72px;
 width: 100%;
 height: 80px;
 
 
}

p
{
 
 font-size: 14px;
 margin-top:2px;
 margin-bottom:2px;
 margin-left: 4px;
 line-height: 1.3;

}

.nome-ora
{
 display: flex; 
 flex-direction: row; 
 justify-content: space-between;
 
 margin-right: 80px;
 align-items: center;
 
}

.stella
{
 height: 19px;
 padding-left: 0;
}

span
{
 font-size: 15px;
 
}


.right-body
{
 flex:3;
 background-color: rgb(240, 240, 240);
 display: flex;
 flex-direction: column;
}

.top-right-body
{
 height: 50px;
 background-color: white;
 display: flex;
 justify-content: space-between;
 align-items: center;
 border: solid;
 border-width: 1px 1px 1px 0px;
 border-color: lightgray;
 border-top-right-radius: 10px;
}

.autore-citazione-top-right-body
{
 margin-left: 10px;
 padding-top: 6px;
 padding-bottom: 6px;
}

.nome-autore-top-right-body
{
 font-weight: bold;
 font-size: 15px;
}

.testo-autore-top-right-body
{
 font-size: 14px;
}

.icona-top-right-body
{
 padding-right: 10px;
}

.chat-right-body
{
 height:600px ;
 display:flex ;
 flex-direction: column;
 background-color: white;
 overflow-y: scroll;
 
}

.div-chat-right-body
{
 display: flex;
 justify-content: start;
 margin-top:20px ;
 margin-bottom: 20px;
 
}

.info-contatto-right-body
{
 display: flex;
 flex-direction: column;
 justify-content: center;
 border-bottom: solid 1px;
 border-color: lightgray;
}

.contatto-right-body
{
 height: 40px;
 
 
 
}
.nome-contatto
{
 font-size:15px;
 font-weight: bold;
 padding-left: 3px;
}

.ora-contatto
{
 color: lightgray;
 font-size: 14px;
}

.inizio-messaggio
{
 font-size: 15px;
 padding-left: 3px;
}

.messaggio-right-body
{
 height: 96px;
 display: flex;
 align-items: start;
 border: solid;
 border-width: 1px 1px 0px 0px;
 border-color: lightgray;
 background-color: white;
}

.scrivi-messaggio
{
 border: none;
 width: 100%;
 font-size: 13px;
 padding:10px 0px 0px 10px;
}

.icona-invio-messaggio
{
 height:40px;
 padding-right: 12px;
 
}

.icon-right-body
{
 height: 95px;
 background-color: white;
 display: flex;
 justify-content: space-between;
 border: solid;
 border-width: 1px 1px 0px 0px;
 border-color: lightgray;
 background-color: rgb(245, 245, 245);
}

.icons
{
 height: 20px;
 margin-top:10px;
 
}

.iconright-right-body
{
 
 
}

.button-icon-right-body
{
 border-radius: 100px;
 border: none;
 color: darkgray;
 padding:6px 15px 6px 15px;
 margin-top: 10px;
}

.annuncio
{
 flex:2.2;
 background-color: rgb(240, 240, 240);
}